<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>itemlist</title>
</head>
<body>
<h2>itemlist</h2>
<table>
    <tr>
        <th>itemId</th>
        <th>itemNm</th>
        <th>price</th>
        <th>재고수량</th>
        <th>조회</th>
        <th>삭제</th>
    </tr>
    <tr th:each="item: ${itemList}">    <!--반복문-->
        <td th:text="${item.id}"></td>
        <td th:text="${item.itemNm}"></td>
        <td th:text="${item.price}"></td>
        <td th:text="${item.stockNumber}"></td>
        <td>
            <a th:href="@{|/item/${item.id}|}">조회</a>
        </td>
        <td>
            <a th:href="@{|/item/delete/${item.id}|}">삭제</a>
        </td>
    </tr>
</table>
</body>
</html>