<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>detail</title>
</head>
<body>
<table>
    <tr>
        <th>id</th>
        <th>상품명</th>
        <th>가격</th>
        <th>재고수량</th>
        <th>상품설명</th>
        <th>조회수</th>
    </tr>
    <tr>
        <td th:text="${item.id}"></td>
        <td th:text="${item.itemNm}"></td>
        <td th:text="${item.price}"></td>
        <td th:text="${item.number}"></td>
        <td th:text="${item.itemDetail}"></td>
        <td th:text="${item.viewCount}"></td>
    </tr>
</table>
<form class="d-flex" th:action="@{/cart/{id}/{itemId}(id=${user.id}, itemId=${item.id})}" method="post">
    <div class="d-flex">
        <input class="form-control text-center me-3" id="amount" name="amount" type="num" value="1"
               style="max-width: 3rem"/>
        <button class="btn btn-outline-dark flex-shrink-0" type="submit">
            <i class="bi-cart-fill me-1"></i>
            장바구니
        </button>
    </div>
</form>
</body>
</html>
