<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>list</title>
</head>
<body>
<h2>list.html</h2>
<table>
  <tr>
    <th>id</th>
    <th>email</th>
    <th>password</th>
    <th>name</th>
    <th>상세조회</th>
    <th>삭제</th>
  </tr>
  <tr th:each="user: ${userList}">
    <td th:text="${user.id}"></td>
    <td th:text="${user.email}"></td>
    <td th:text="${user.password}"></td>
    <td th:text="${user.name}"></td>
    <td>
      <!-- query string /user?id=1
          rest api /user/1 -->
      <a th:href="@{|/user/${user.id}|}">조회</a>
    </td>
    <td>
      <a th:href="@{|/user/delete/${user.id}|}">삭제</a>
    </td>
  </tr>
</table>
</body>
</html>