<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>update</title>
</head>
<body>
<form action="/user/update" method="post">
    <input type="hidden" th:value="${updateUser.id}" name="id"><br>
    이메일: <input type="text" th:value="${updateUser.email}" name="email" readonly> <br>
    비밀번호: <input type="text" th:value="${updateUser.password}" name="password"> <br>
    이름: <input type="text" th:value="${updateUser.name}" name="name"> <br>
    <input type="submit" value="정보수정">
</form>
</body>
</html>